CompileFlags:                     # Tweak the parse settings
  Remove: [ -flarge-source-files, -fharden-compares, -fharden-conditional-branches, -fvtv-debug, -forward-unknown-to-host-compiler, -ccbin=/usr/bin/g++, -Xcompiler=-fPIC, --use-local-env, --restrict, --gpu-architecture=compute_*, --gpu-code=sm_*, --expt-relaxed-constexpr, --forward-unknown-opts, -allow-unsupported-compiler, --extended-lambda, --default-stream=per-thread, --threads=*, --device-debug, --no-compress, -Xcompiler=-std=c++*, -Xcompiler=-flarge-source-files, -Xcompiler=-fopenmp, -Xcompiler=-ggdb, -Xcompiler=-mno-daz-ftz, -Xcompiler=-fno-omit-frame-pointer, -Xcompiler=-fstack-protector-all, -Xcompiler=-fstack-clash-protection, -Xcompiler=-fharden-compares, -Xcompiler=-fharden-conditional-branches, -Xcompiler=-finstrument-functions, -Xcompiler=-fvtv-debug, --diag-suppress=*, -rdc=true, -G, --generate-code=* ]
  CompilationDatabase: .
  Add: [ -fopenmp, -I/usr/local/cuda/include, -I/usr/lib/llvm-20/lib/clang/20/include ]