SQL_PROPERTIES_DIR = ../SVRRoot/SVRPersist/postgres/
#To enable Unix socket set md5 authentication in /etc/postgresql/9.5/main/pg_hba.conf for local connections
CONNECTION_STRING = dbname=svrwave user=svrwave password=svrwave host=/var/run/postgresql
#CONNECTION_STRING = dbname=svrwave user=svrwave password=svrwave host=localhost port=5432
LOG_LEVEL = trace
DAO_TYPE = postgres
MAIN_COLUMNS_AUX = 1
RECOMBINE_PARAMETERS = 0
PREDICTION_HORIZON = 0.2
MULTISTEP_LEN = 1
NUM_QUANTISATIONS = 50
QUANTISATION_DIVISOR = 15
OEMD_TUNE_PARTICLES = 32
OEMD_TUNE_ITERATIONS = 64
OEMD_COLUMN_INTERLEAVE = 2
SOLVE_ITERATIONS_COEFFICIENT = 1
WEIGHT_COLUMNS = 3
TUNE_PARTICLES = 200
TUNE_ITERATIONS = 100
TUNE_SKIP = 0
DB_NUM_THREADS = 8
TUNE_MAX_LAMBDA = 100
TUNE_MAX_TAU = 100
INTERLEAVE = 100
PREDICT_CHUNKS = 100
LAG_MULTIPLIER = 100