SQL_PROPERTIES_DIR = ../SVRRoot/SVRPersist/postgres/

#To enable Unix socket set md5 authentication in /etc/postgresql/9.5/main/pg_hba.conf for local connections
CONNECTION_STRING = dbname=svrwave user=svrwave password=svrwave host=/var/run/postgresql
#CONNECTION_STRING = dbname=svrwave user=svrwave password=svrwave host=localhost port=5432
LOG_LEVEL = trace
DAO_TYPE = postgres
MAIN_COLUMNS_AUX = 1
PREDICTION_HORIZON = 0.2
MULTISTEP_LEN = 1

NUM_QUANTISATIONS = 64

QUANTISATION_DIVISOR = 30
OEMD_TUNE_PARTICLES = 32
OEMD_TUNE_ITERATIONS = 64
OEMD_COL_ILEAVE = 2
TUNE_SKIP = 0
DB_NUM_THREADS = 8
TUNE_MAX_LAMBDA = 10
TUNE_MAX_TAU = 10

# Keep same as train interleave for best results, use perfect squares eg. 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, and 400
INTERLEAVE = 100

# Use up to N chunks for prediction
PREDICT_CHUNKS = 10000

LAG_MULTIPLIER = 100
SHIFT_LIMIT = 100

# Alignment validation window used in OEMD tuning
ALIGN_WINDOW = 4000

# KERNEL_LENGTH 18000 is the limit for a 16GB CUDA card imposed by MAGMA
KERNEL_LENGTH = 2000

STABILIZE_ITERATIONS_COUNT = 64


TUNE_PARTICLES1 = 160
TUNE_ITERATION1 = 160
TUNE_PARTICLES2 = 1
TUNE_ITERATION2 = 1

SOLVE_ITERATIONS_COEFFICIENT = 8
SOLVE_PARTICLES = 1000
WEIGHT_COLUMNS = 2

# The higher weight inertia is, the more tendency to 1 chunk waights have
WEIGHT_INERTIA = 0

PARALLEL_CHUNKS = 1
CHUNK_OVERLAP = 0.5
