SQL_PROPERTIES_DIR = ../SVRRoot/SVRPersist/postgres/

#To enable Unix socket set md5 authentication in /etc/postgresql/9.5/main/pg_hba.conf for local connections
CONNECTION_STRING = dbname=svrwave user=svrwave password=svrwave host=/var/run/postgresql

#CONNECTION_STRING = dbname=dslavchevsvrwave user=svrwave password=svrwave host=localhost port=5432

LOG_LEVEL = debug

DAO_TYPE = postgres

MAIN_COLUMNS_AUX = 1
