SQL_PROPERTIES_DIR = ../SVRRoot/SVRPersist/postgres/
#To enable Unix socket set md5 authentication in /etc/postgresql/9.5/main/pg_hba.conf for local connections
#CONNECTION_STRING = dbname=svrwave user=svrwave password=svrwave host=/var/run/postgresql port=5432
CONNECTION_STRING = dbname=svrwave user=svrwave password=svrwave host=localhost
LOG_LEVEL = debug
LOOP_INTERVAL_MS = 1000
DAO_TYPE = postgres
DAEMONIZE = 0
CASCADE_MAX_SEGMENT_SIZE = 70000
CASCADE_BRANCHES_COUNT = 2
DISABLE_CASCADED_SVM = 1
MULTISTEP_LEN = 1
DONT_UPDATE_R_MATRIX = 1
MAX_LOOP_COUNT = -1
MAX_SMO_ITERATIONS = 2147483647
MAIN_COLUMNS_AUX = 1
SCALING_ALPHA = 0.01
TUNE_PARAMETERS = 1
FUTURE_PREDICT_COUNT = 400
TUNE_RUN_LIMIT=2