SQL_PROPERTIES_DIR = ../SVRRoot/SVRPersist/postgres/
CONNECTION_STRING = dbname=svrwave user=svrwave password=svrwave host=/var/run/postgresql
# CONNECTION_STRING = dbname=svrwave user=svrwave password=svrwave host=localhost port=5432
LOG_LEVEL = trace
LOOP_INTERVAL_MS = 1000
DAO_TYPE = postgres
DAEMONIZE = 0
MULTISTEP_LEN = 1
DONT_UPDATE_R_MATRIX = 1
MAX_LOOP_COUNT = -1
MAIN_COLUMNS_AUX = 1
SCALING_ALPHA = 0.01
# OEMD_FIND_FIR_COEFFICIENTS = 1
PREDICTION_HORIZON = 0.2
